<!DOCTYPE html>
<html>
<head>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <link href="/static/assets/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/static/assets/css/paper-kit.css?v=2.0.1" rel="stylesheet"/>
  <link href="/static/assets/css/styles.css" rel="stylesheet" />

  <!--   Fonts and icons   -->
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,300,700' rel='stylesheet' type='text/css'>
  <link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet">
  <link href="/static/assets/css/nucleo-icons.css" rel="stylesheet">

  <title>TrafficWiz | Compare Video</title>
  <script src="{{ url_for('static', filename='player.js') }}"></script>
</head>
<body style="background-color:#34495e;">
  <nav class="navbar navbar-toggleable-md fixed-top nav-down" >
    <div class="container">
      <div class="navbar-translate">
        <button class="navbar-toggler navbar-toggler-right navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-bar"></span>
          <span class="navbar-toggler-bar"></span>
          <span class="navbar-toggler-bar"></span>
        </button>
        <div class="navbar-header">
          <a class="customfont" style="font-size:3rem;color:#66615B;font-weight:400;" href="/">TrafficWiz</a>
        </div>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown dropdown-danger">
						<a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown">Latest News</a>
						<ul class="dropdown-menu dropdown-menu-right">
	            <li class="dropdown-item"><a href="/ocr"><i class="nc-icon nc-tile-56"></i>&nbsp; View Challans</a></li>
	            <li class="dropdown-item"><a href="#"><i class="nc-icon nc-bullet-list-67"></i>&nbsp; How to use</a></li>
	          </ul>
					</li>
          <li class="nav-item">
            <a class="nav-link" href="#contact-us" data-scroll="true">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-round btn-danger" href="{{url_for('stream')}}"><i class="fa fa-car"></i> Stream Now</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="cd-section" id="headers">
  <div class="abc" style="padding-top:8vh;">
    <h1 style="color:#b3e5fc;font-weight:400;text-align: center;">Processing of footage</h1>
    <div class="row" style="padding:2vh;">
      <div class="col s5" style="padding:0">

        <video id="comp1" width="1280" height="720" autoplay style="position:relative; width:49vw;">
          <source src="/static/compare 1.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>

      </div>
      <div class="col s5" style="padding:0">

        <video id="comp2" width="1280" height="720" autoplay style="position:relative; width:49vw;">
          <source src="/static/compare 2.mp4" type="video/mp4">
        Your browser does not support the video tag.
        </video>

      </div>
    </div>

  </div>
  </div>

  <!-- Core JS Files -->
  <script src="/static/assets/js/jquery-3.2.1.min.js" type="text/javascript"></script>
  <script src="/static/assets/js/jquery-ui-1.12.1.custom.min.js" type="text/javascript"></script>
  <script src="/static/assets/js/tether.min.js" type="text/javascript"></script>
  <script src="/static/assets/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="/static/assets/js/paper-kit.js?v=2.0.1"></script>

  <script>
    var vid1 = document.getElementById("comp1");
    var vid2 = document.getElementById("comp2");
    console.log(vid1);
    console.log(vid2);
    vid1.playbackRate = 0.7;
    vid2.onended = function(){
      console.log("ended vid");
      vid1.currentTime = 1;
      vid2.currentTime = 1;
      vid1.play();
      vid2.play();
    };
    function reply(data)
    {
      console.log(data);
    }
    function play()
    {
      console.log("ejfjhewf");
      send("{{ url_for('play') }}",reply);
    }
    function pause()
    {
      send("{{ url_for('pause') }}",reply);
    }
  </script>
</body>
</html>
